# Visual Studio
.vs/
*.vsidx
*.vspscc
*.vssscc
*.user
*.suo
*.rsuser
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

# MAUI specific
**/wwwroot/lib/
**/wwwroot/css/
**/wwwroot/js/

# User-specific files
*.userosscache
*.sln.docstates

# NuGet Packages
*.nupkg
packages/

# Test results
TestResults/